#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        label ="Default";
        default_layer {
            bindings = <
                &kp W    &kp A    &kp S    &kp D    &kp SPACE &kp F
                &kp E    &kp UP   &kp DOWN &kp R    &kp LALT  &kp TAB
            >;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_adv {
            timeout-ms = <200>;
            key-positions = <11 0 2>;
            bindings = <&bt BT_CLEAR_BONDS &bt BT_START_ADV>;
        };
        combo_clear {
            timeout-ms = <200>;
            key-positions = <11 1 3>;
            bindings = <&bt BT_CLEAR_BONDS>;
        };
    };
};
