#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

#/ {
#    keymap {
#        compatible = "zmk,keymap";
#        label ="Default";
#        default_layer {
#            bindings = <
#                &kp W    &kp A    &kp S    &kp D    &kp SPACE &kp F
#                &kp E    &kp UP   &kp DOWN &kp R    &kp LALT  &kp TAB
#            >;
#        };
#    };
#};

#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        compatible = "zmk,combos";

        /* W(pos0)+S(pos2)+TAB(pos11) 三键同时按下，进入蓝牙配对 BT_SEL 0 */
        combo_bt_pair {
            timeout-ms = <60>;        /* 60ms窗口，三个键要在这个时间内全部按下 */
            key-positions = <0 2 11>; /* W S TAB */
            bindings = <&bt BT_SEL 0>;
            layers = <0 1>;           /* default层0、fn层1都生效 */
        };

        /* A(pos1)+D(pos3)+TAB(pos11) 三键同时按下，清除全部蓝牙配对 */
        combo_bt_clear_all {
            timeout-ms = <60>;
            key-positions = <1 3 11>; /* A D TAB */
            bindings = <&bt BT_CLR_ALL>;
            layers = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            label = "BASE";
            bindings = <
                &kp W     &kp A    &kp S    &kp D    &kp SPACE  &kp F
                &kp E     &kp UP   &kp DOWN &kp R    &kp LALT   &lt 1 TAB
            >;
        };

        fn_layer {
            label = "FN";
            bindings = <
                &trans    &trans  &trans   &trans   &trans     &trans
                &kp E     &kp UP  &kp DOWN &kp R    &kp LALT   &trans
            >;
        };
    };
};
